@import "../../conponents/colors.scss";

.login-form {
    grid-column: span 2;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__input {
        width: 100%;
        padding: 10px;
        
        border: 1px solid $grey;
        
        &:focus {
            border: 1px solid #000;
        }
    }
}