$primary: #666666;
$secondary: #171717;

$white: #fff;
$grey: #B4B4B4;
$light-grey: #B1B1B1;

$logo-bg: #C9A96E;

$postcard-info: #666;

$sidebar-border: #E5E5E5;

$socials-bg:#F8F9FA;
$socials-text: #999999;
$socials-img: #5A5A5A;